<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:application*.xml</param-value>
    </context-param>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>com.hys.auth.struts.action.WebAppContextListener</listener-class>
    </listener>
    <filter>
        <filter-name>xssFilter</filter-name>
        <filter-class>com.hys.auth.filter.XssFilter</filter-class>
        <init-param>
            <param-name>excludeURL</param-name>
            <param-value>/groupManage/groupClassInfoManage.do,/contentManage/bannerManage.do</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>xssFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>
            org.springframework.web.filter.DelegatingFilterProxy
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>initContextFilter</filter-name>
        <filter-class>
            com.hys.framework.web.filter.InitContextFilter
        </filter-class>
        <init-param>
            <param-name>RequestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ResponseEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>FailureForwardName</param-name>
            <param-value>/commons/failure.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>initContextFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>initContextFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <!--begin:审核日志Filter-->
    <filter>
        <filter-name>AuditLogFilter</filter-name>
        <filter-class>com.hys.auth.audit.AuditLogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuditLogFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <!--end:审核日志Filter-->
    <listener>
        <listener-class>
            org.springframework.security.ui.session.HttpSessionEventPublisher
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>
            org.apache.struts.action.ActionServlet
        </servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/struts-config2.xml,
                /WEB-INF/struts-config-course.xml,
                /WEB-INF/struts-config-peixun.xml,
                /WEB-INF/struts-config-exam.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>3</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>remote</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>namespace</param-name>
            <param-value>classes/remote-servlet</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>remote</servlet-name>
        <url-pattern>/remote/*</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <taglib>
            <taglib-uri>http://www.newworld.com/tags/examTag</taglib-uri>
            <taglib-location>/WEB-INF/tags/examTags.tld</taglib-location>
        </taglib>
    </jsp-config>
    <session-config>
        <session-timeout>90</session-timeout>
    </session-config>
    <!--   <filter>
        <display-name>FileFilter</display-name>
        <filter-name>FileFilter</filter-name>
        <filter-class>com.hys.auth.interceptor.FileFilter</filter-class>
      </filter>
      <filter-mapping>
        <filter-name>FileFilter</filter-name>
        <url-pattern>/*</url-pattern>
      </filter-mapping> -->
</web-app>